.background {
    -fx-background-color: #	FFF8DC;
}

.title-list-view {
    -fx-background-color: #F5DEB3;
}

.desc-list-view {
    -fx-background-color: #DEB887;
}

.button-color {
    -fx-background-color: #CDAF95;
}
.button2-color{
       -fx-background-color: #BC8F8F;
}
.button-color:hover {
    -fx-background-color: #D2B48C;
}
.button-color:selected{
    -fx-background-color: #D2B48C;
}
.title-list-view :filled:selected:focused {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}
.title-list-view :even {
    -fx-background-color: #FFF5EE;
}
.desc-list-view :even {
    -fx-background-color: #FFF5EE;
}
.desc-list-view :filled:selected:focused {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #CD853F;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #8B795E;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}